<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<meta charset="utf-8">
		<title>Trabalho BD 2021.2 - matches</title>
	</head>
	<body class="bg-dark">
		<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
			<!-- Navbar Brand-->
			<i class="navbar-brand ps-3">Banco de Dados 2021.2</i>					
			<!-- Navbar Search-->
			<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
				<div class="input-group">
					<input style="color:grey" class="form-control bg-dark" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
					<button class="btn btn-secondary" id="btnNavbarSearch" type="button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
						</svg>
					</button>
				</div>
			</form>
		</nav>
		
		<table class="table table-striped table-hover table-dark">
			<thead>                
				<th scope="col">ID do game</th>
				<th scope="col">Plataforma</th>
				<th scope="col">Temporada</th>
				<th scope="col">Duração da Partida</th>
				<th scope="col">Blue win</th>
                <th scope="col">Red win</th>
                <th scope="col">Version</th>
			</thead>
			<tbody>
				{% for match in matches %}
					<tr>
						<th scope="row">
                            <a href="http://127.0.0.1:5000/match/?match={{match.id}}">
                                {{match.game_id}}
                            </a>
                        </th>
						<td>{{match.plataform_id}}</td>
						<td>{{match.season_id}}</td>
						<td>{{match.duration}}</td>
                        <td>{{match.Blue_wins}}</td>
                        <td>{{match.Red_wins}}</td>
                        <td>{{match.version}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
        <div class="navbar">
            <a 
            style="margin: 15px; align-self: end;" 
            role="button" 
            class="btn btn-secondary {% if page_num == 1 %} disabled {% endif %}" 
            href="http://127.0.0.1:5000/matches/?page={{page_num-1}}">
                Prev
            </a>

            <a 
            style="margin: 15px; align-self: start;" 
            role="button" 
            class="btn btn-secondary {% if page_num == 100 %} disabled {% endif %}" 
            href="http://127.0.0.1:5000/matches/?page={{page_num+1}}">
                Next
            </a>            
        </div>        
	</body>
</html>


